:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

/* Removes space between header and edge of page and creates white background */
body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(250, 251, 252);
}

/* Adds border to header. Need to size of header.  */
header {
  margin: 0;
  border: 3px solid rgb(213, 214, 214);
  background-color: rgb(254, 254, 254);
}

/* Removes bullet points, adds list into a container. 
closed margin gap on the left side
(html) Put original two sets of list into one ul */
nav ul {
  list-style: none;
  display: flex;
  margin-left: -2rem;
  font-size: 24px;
  /* padding-top: 10px; */
}

/* Space between words and to center github logo with words 
(html) created class for words on the top left side*/
.leftWords {
  padding: 10px;
  margin-top: 20px;
}

/* space between words and center words 
(html) created class for words on the top right side*/
.rightWords {
  padding: 10px;
  margin-top: 20px;
}

/* makes octocats go from line to line */
section {
  display: flex;
  flex-wrap: wrap;
}

/* Adds borders to octocats gives each octocat some space*/
img {
  border: 3px solid rgb(225, 228, 232);
  border-radius: 10px;
  margin: 1rem;
  background-color: white;
}

/* Removes bullet points and kind of lines text with image 
margin to move text closer to image
Put into a flex container and aligned to center*/
section ul {
  list-style: none;
  margin-left: -10px;

  /* moves name of octocat up. Is margin-bottom 20px not the same*/
  margin-top: -20px;
  display: flex;
  align-items: center;
}

.test {
  display: flex;
  margin-left: 58%;
}

/* Works but more than one icons makes it look funny. %?  */
.icon {
  margin-left: 200px;
}

footer {
  background-color: grey;
  padding: 0.5rem;
}
