:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

/* Removes space between header and edge of page and creates white background */
body {
  margin: 0;
  /* min-height: 100%; */
  background-color: rgb(250, 251, 252);
}

/* Adds border to header. Need to size of header.  */
header {
  border: 3px solid rgb(213, 214, 214);
  background-color: rgb(254, 254, 254, 0.3);
  display: flex;
  text-align: center;
  list-style: none;
}

/* Removes bullet points, adds list into a container. 
closed margin gap on the left side
(html) Put original two sets of list into one ul */
nav ul {
  list-style: none;
  display: flex;
  margin-left: -2rem;
  font-size: 24px;
  align-items: center;
}

/* Space between words and to center github logo with words 
(html) created class for words on the top left side*/

nav ul li {
  padding: 10px;
  margin-top: 20px;
}

/* makes octocats go from line to line */
section {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

/* Adds borders to octocats gives each octocat some space*/
section img {
  border: 3px solid rgb(225, 228, 232);
  border-radius: 10px;
  margin: 2rem;
  background-color: white;
}

/* Removes bullet points and kind of lines text with image 
margin to move text closer to image
Put into a flex container and aligned to center*/
section ul {
  list-style: none;
  margin-left: -10px;

  /* moves name of octocat up. Is margin-bottom 20px not the same*/
  margin-top: -20px;
  display: flex;
  align-items: center;
}

/* Works but more than one icons makes it look funny. %?  */
.icon {
  margin-left: 200px;
}

footer {
  background-color: rgb(250, 251, 252);
  padding: 0.5rem;
  border: 3px solid rgb(213, 214, 214);
}

@media all and (min-width: 600px) {
  .leftWordsA {
    margin-left: 30%;
  }
  .leftWordsB {
    margin-left: 50%;
  }
  /* section img {
    max-width: 500px;
    height: auto;
  } */
}

@media all and (min-width: 700px) {
  .leftWordsA {
    margin-left: 40%;
  }
  .leftWordsB {
    margin-left: 50%;
  }
}

@media all and (min-width: 800px) {
  .leftWordsA {
    margin-left: 50%;
  }
  .leftWordsB {
    margin-left: 50%;
  }
}

@media all and (min-width: 1000px) {
  .leftWordsA {
    margin-left: 8rem;
  }
  .leftWordsB {
    margin-left: 2rem;
  }
}

@media all and (min-width: 1100px) {
  .leftWordsA {
    margin-left: 12rem;
  }
  .leftWordsB {
    margin-left: 10rem;
  }
}
